**/bin
SUPER-PING-PONG/.idea/
SUPER-PING-PONG/cmake-build-debug/
SUPER-PING-PONG/linux-build/
SUPER-PING-PONG/proj.android-studio/
SUPER-PING-PONG/proj.android/
SUPER-PING-PONG/proj.ios_mac/
SUPER-PING-PONG/proj.tizen/
SUPER-PING-PONG/proj.win10/
SUPER-PING-PONG/proj.win32/
*.swp
